<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css" />
    {% if context is not none %}
        {{ context.mymap.js }}
    {% endif %}
  </head>
  <body>
    <form action="/" method="POST">
      <label for="ip_addr">IP</label>
      <input name="ip_addr" id="ip_addr" />
      <input type="submit" />
    </form>
    {% if context is not none %}
        <h3>Result: {{ context.ip_det }}</h3>
        {{ context.mymap.html }}
    {% endif %}
  </body>
</html>
